@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');



html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    width:auto;
    max-width: 1440px;
    height: auto;
    margin: 0 auto;
    background-color: white; 
    padding: 0;
    box-sizing: border-box; 
}

.logo {
    margin-left: 0px;
    margin-top: 0px;
}       

.container {
    width:auto;
    max-width: 1440px;
    display: flex;
    margin: auto;
    justify-content:left;
    width: auto; 
    height: px
}

.box__input {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    width: auto;
    height: auto;
    padding: 0px;
    margin-top: 168px;
    justify-content:flex-start;
    margin-left: 120px;
    margin-bottom: 0px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 32px;
    font-style: normal;
    text-align: left;
    color: #000000;
}

.digite-texto {
    display: flex;
    margin-top: auto;
    width: auto;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 32px;
    font-style: normal;
}

.textarea {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    text-align: center;
} 


.digite-texto textarea {
    border: none;
    background: none;
    width: auto;
    max-width: 680px;
    font-size: 28px;
    color: #c21c1c;
    resize: none;
    margin-bottom: 10px;
    text-align: left;
}

.botoes {
    display: flex;
    flex-wrap: wrap;
    width: 130%;
    margin: -150px;
    align-content: 0;
    margin-top: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 16;
    font-style: normal;
    margin-bottom: 72px;
}


.digite-texto textarea:focus {
    border: 0 none;
    outline: 0;
    color: #c21c1c;
}

::placeholder {
    color: #000000;
}


.saida {
    display: flex;
    justify-content:center;
    width: auto;
    max-width: 400px;
    height: auto;
    align-items: center;
    margin: 40px auto;
}

.conteudo-resultado-vazio {
    display: flex;
    background: #ffefef;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    height: 944px;
    width: auto;
}


.conteudo-resultado-ok {
    display: flex;
    background: #ffefef;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    height: 944px;
    width: auto;
}

.conteudo-resultado-ok textarea {
    border: none;
    background: none;
    width: auto;
    font-size: 20px;
    color: #0c0c0c;
    resize: none;
    margin-bottom: 10px;
}

.conteudo-resultado-ok textarea:focus {
    outline: 0;
}


.cripto {
    padding: 15px;
    width: 100%;
    max-width: 336px;
    margin-right: 20px;
    border-radius: 24px;
    border: 1px solid #c21c1c;
    font-weight: normal;
    cursor: pointer;
}

.descripto {
    padding: 15px;
    width: 100%;
    max-width: 336px;
    margin-right: 20px;
    border-radius: 24px;
    border: 1px solid #c21c1c;
    font-weight: normal;
    cursor: pointer;
}


.copiar {
    padding: 15px;
    width: 100%;
    max-width: 336px;
    margin-right: 20px;
    border-radius: 24px;
    border: 1px solid #c21c1c;
    font-weight: normal;
    cursor: pointer; 
}

.cripto{
    background: #c21c1c;
    color: white;
}

.cripto:hover, .descripto:hover, .copiar:hover {
    transform: scale(1.05);
}


.digite__texto {
    display: flex;
    align-items: flex-start;
    margin-top: 200px;
    width: 100;
    
}

#logo {
    width: 60px;
    height: 70px;
    margin: 20px 20px;
}

.conteudo-resultado-vazio img {
    margin: -100px;
    right: -500px;
    left: -500px;
    transform: scale(0.5);
}


h2 {
    display: flex;  
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 4px;
    font-style: normal;
    width: 280px;
    padding: 10px 60px;
}

p2 {
    display: flex;  
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    width: 280px;
    padding: 10px;
    padding-top: 0px;
    padding-left: 60px;
}

p {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

textarea {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

#text-output {
    display: flex;
    margin-top: 32px;
    margin-left: 32px;
    width: 336px;
    height: 781px;
}

header {
    display: flex;
    flex-direction: row;
}

a {
    width: 32px;
    height: 32px;
    margin-top: 10px;
    padding-left: 10px;
}

.rodape {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    padding: auto;
    left: auto;
    right: auto;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 40px;
    font-style: normal;
    color:aquamarine;
    background-color: #050505;
}